
* {
	background:			#2E3440;
	background-alt:			#2E3440;
	foreground:			#EBCE8B;
	selected:			#81A1C1;
	urgent:				#635373;
	on:				#496886;
	off:				#A36584;
	al: 				#00000000;
	bg: 				#BF616A;
	fg: 				#F4EA8F;
	se: 				#101010ff;
	quicklink-se:			#B6E284;
	quicklink-brdr:			#F4EA8F;
	accent:				#F4EA8F;
}
